#
# generated for local source using build
#

bbappend-files/recipes-application/testsuite/testsuite-s5p4418_%.bbappend
bbappend-files/recipes-application/testsuite/testsuite-s5p6818_%.bbappend

bbappend-files/recipes-bsp/arm-trusted-firmware/arm-trusted-firmware_%.bbappend

bbappend-files/recipes-bsp/bl1/s5p4418-avn-ref-bl1.bbappend
bbappend-files/recipes-bsp/bl1/s5p4418-navi-ref-bl1.bbappend
bbappend-files/recipes-bsp/bl1/s5p4418-smart-voice-bl1.bbappend
bbappend-files/recipes-bsp/bl1/s5p6818-artik710-raptor-bl1.bbappend
bbappend-files/recipes-bsp/bl1/s5p6818-avn-ref-bl1.bbappend
bbappend-files/recipes-bsp/bl1/s5p6818-kick-st-bl1.bbappend

bbappend-files/recipes-bsp/bl2/s5p4418-avn-ref-bl2.bbappend
bbappend-files/recipes-bsp/bl2/s5p4418-navi-ref-bl2.bbappend
bbappend-files/recipes-bsp/bl2/s5p4418-smart-voice-bl2.bbappend

bbappend-files/recipes-bsp/s5p4418-avn-ref-dispatcher.bbappend
bbappend-files/recipes-bsp/s5p4418-navi-ref-dispatcher.bbappend
bbappend-files/recipes-bsp/s5p4418-smart-voice-dispatcher.bbappend

bbappend-files/recipes-bsp/l-loader/l-loader_%.bbappend

bbappend-files/recipes-bsp/optee/optee-build_%.bbappend
bbappend-files/recipes-bsp/optee/optee-client_%.bbappend
bbappend-files/recipes-bsp/optee/optee-linuxdriver_%.bbappend
bbappend-files/recipes-bsp/optee/optee-os_%.bbappend
bbappend-files/recipes-bsp/optee/optee-test_%.bbappend

bbappend-files/recipes-bsp/u-boot/s5p4418-avn-ref-uboot_%.bbappend
bbappend-files/recipes-bsp/u-boot/s5p4418-navi-ref-uboot_%.bbappend
bbappend-files/recipes-bsp/u-boot/s5p6818-artik710-raptor-uboot_%.bbappend
bbappend-files/recipes-bsp/u-boot/s5p6818-avn-ref-uboot_%.bbappend
bbappend-files/recipes-bsp/u-boot/s5p6818-kick-st-uboot_%.bbappend

bbappend-files/recipes-kernel/linux/linux-s5p4418-avn-ref_%.bbappend
bbappend-files/recipes-kernel/linux/linux-s5p4418-navi-ref_%.bbappend
bbappend-files/recipes-kernel/linux/linux-s5p6818-artik710-raptor_%.bbappend
bbappend-files/recipes-kernel/linux/linux-s5p6818-avn-ref_%.bbappend
bbappend-files/recipes-kernel/linux/linux-s5p6818-kick-st_%.bbappend

bbappend-files/recipes-nexell-libs/gst-plugins/gst-plugins-camera_%.bbappend
bbappend-files/recipes-nexell-libs/gst-plugins/gst-plugins-renderer_%.bbappend
bbappend-files/recipes-nexell-libs/gst-plugins/gst-plugins-scaler_%.bbappend

bbappend-files/recipes-nexell-libs/nx-libs/libdrm-nx_%.bbappend
bbappend-files/recipes-nexell-libs/nx-libs/nx-drm-allocator_%.bbappend
bbappend-files/recipes-nexell-libs/nx-libs/nx-gst-meta_%.bbappend
bbappend-files/recipes-nexell-libs/nx-libs/nx-renderer_%.bbappend
bbappend-files/recipes-nexell-libs/nx-libs/nx-scaler_%.bbappend
bbappend-files/recipes-nexell-libs/nx-libs/nx-v4l2_%.bbappend
bbappend-files/recipes-nexell-libs/nx-libs/nx-video-api_%.bbappend
